.dataset-container-inner-divone img {
    width: 25%;
    position: relative;
    left: 5%;
}
.dataset-container-inner-divtwo {
    text-align: right;
    position: relative;
    right: 5%;
}
.dataset-container-inner-divtwo h3 {
    display: inline-block;
}
.dataset-container-inner-divtwo img {
    display: inline-block;
    width: 5%;
    position: relative;
    left: 2%;
    margin-bottom: 3%;
}

.register{
    margin: 0 auto;
    width: 20%;
    position: relative;
    left: 10%;
}