<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 about-us">
    <h1>About US</h1>
    <div class="facts">
        <h2>Facts and information</h2>
        <div class="facts-information">
            <ul class="facts-ul">
                <li>Analyst relations</li>
                <li>Cisco awards</li>
                <li>Cisco history video: 1984-2013 (2:40)</li>
                <li>Company overview</li>
                <li>Employment verification (U.S.)</li>
                <li>Executive team</li>
                <li>Government affairs</li>
                <li>Mobile apps</li>
                <li>Online privacy</li>
                <li>RSS feeds</li>
                <li>Our people</li>
            </ul>
        </div>
    </div>
    <div class="investor">
        <h2>Investor relations</h2>
        <div class="investor-relations">
            <ul class="investor-ul">
                <li>Annual reports</li>
                <li>Stock information</li>
                <li>Corporate governance</li>
                <li>All investor relations</li>
                <li>Financials</li>
            </ul>
        </div>
    </div>
</div>