<div class="search-analytics">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 search-div">
        <img src="../../assets/images/search-transparent.png">
        <div class="search">
            <label class="search-label">Search</label>
            <p class="search-content">{{searchVal}}</p>
            <button class="btn btn-success proceed-to-kbs" [routerLink]="['/registrationform']" > Registration </button>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 analytics-div">
        <img src="../../assets/images/analytics-transparent.jpg">
        <div class="analytics">
            <label class="analytics-label">Analytics</label>
            <p class="analytics-content">{{analytics}}</p>
            
            <button class="btn proceed-to-DSE">Proceed to DSE</button>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 quicktask">
        <div class="home-quicktask">
            <ul class="home-quicktask-ul">
                <li class="find-people">
                    <a>
                        <span style="background-position: -45px -180px; left: 65px;"></span>
                    </a>
                    <a>Find People</a>
                </li>
                <li class="find-tools">
                    <a>
                        <span style="background-position: -40px -209px;"></span>
                    </a>
                    <a>Find Tools</a>
                </li>
                <li class="get-support">
                    <a>
                        <span style="background-position: -42px -149px; left: 35%;"></span>
                    </a>
                    <a>Get Support</a>
                </li>
                <li class="download-software">
                    <a>
                        <span style="background-position: -41px -90px; left: 45%;"></span>
                    </a>
                    <a>Download Software</a>
                </li>
                <li class="find-communities">
                    <a>
                        <span style="background-position: -42px -120px; left: 43%;"></span>
                    </a>
                    <a>Find Communities</a>
                </li>
                <li class="share-documents">
                    <a>
                        <span style="    background-position: -40px -240px; left: 38%;"></span>
                    </a>
                    <a>Share Documents</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 thisweek">
        <div class="this-week">
            <h1>This week at Cisco</h1>
            <p>See the announcements, events, and activities happening across the globe this week.</p>
        </div>
    </div>