<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 partner">
        <h1>Become a Partner</h1>
        <div class="partner-divone">
            <div class="value-added col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img src="../../assets/images/valueAdded.png">
                <a href="#">Value-added resellers</a>
                <p>The Cisco Channel Partner Program offers solutions, training, tools, and support to help you and your customers rise above the competition.</p>
            </div>
            <div class="providers col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img src="../../assets/images/providers.png">
                <a href="#">Providers</a>
                <p>With the Cloud and Managed Services Program, you can build and deliver managed and cloud services.</p>
            </div>
            <div class="developers col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img src="../../assets/images/developers.png">
                <a href="#">Developers, ISVs and IHVs</a>
                <p>With the Cloud and Managed Services Program, you can build and deliver managed and cloud services.</p>
            </div>
        </div>
        <div class="partner-divtwo">
            <div class="integrators col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img src="../../assets/images/integrators.png">
                <a href="#">Integrators</a>
                <p>With the Cloud and Managed Services Program, you can build and deliver managed and cloud services.</p>
            </div>
            <div class="registrationhelp col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img src="../../assets/images/registrationhelp.png">
                <a href="#">Registration help</a>
                <p>With the Cloud and Managed Services Program, you can build and deliver managed and cloud services.</p>
            </div>
        </div>
</div>
