<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 products">
    <h1>Products</h1>
    <p>This area helps you find the right product for your business needs. If you are looking for troubleshooting, installation, technical documentation, or downloads, you will get them faster in our technical support area.</p>
    <div class="products-by-technology">
        <h2>Products by Technology</h2>
        <div class="technology-by-products">
            <div class="row three-products">
                <div class="products-div">
                    <img src="../../assets/images/networking.jpg" >
                    <h2>Networking</h2>
                    <ul>
                        <li>Switches</li>
                        <li>Routers</li>
                        <li>Wireless</li>
                        <li>Network Management</li>
                        <li>Interfaces & Modules</li>
                        <li>Optical Network</li>
                        <li>Software-Defined Networking</li>
                    </ul>
                </div>
                <div class="products-div">
                    <img src="../../assets/images/wireless-and-mobility.jpg" >
                    <h2>Wireless & Mobility</h2>
                    <ul>
                        <li>Access Points</li>
                        <li>Outdoors & Industrial Access Points</li>
                        <li>Controllers</li>
                    </ul>
                </div>
                <div class="products-div">
                    <img src="../../assets/images/security.jpg" >
                    <h2>Security</h2>
                    <ul>
                        <li>Next-Generation Firewalls</li>
                        <li>Advanced Malware Protection</li>
                        <li>Cloud Security</li>
                        <li>Network Visibility and Segmentation</li>
                        <li>Email Security</li>
                        <li>Web Security</li>
                    </ul>
                </div>
            </div>
            <div class="row three-products">
                <div class="products-div">
                    <img src="../../assets/images/collaboration.jpg" >
                    <h2>Collaboration</h2>
                    <ul>
                        <li>Collaboration Endpoints</li>
                        <li>Conferencing</li>
                        <li>Contact Center</li>
                        <li>Unified Communications</li>
                    </ul>
                </div>
                <div class="products-div">
                    <img src="../../assets/images/data-center.jpg" >
                    <h2>Data Center</h2>
                    <ul>
                        <li>Servers - Unified Computing</li>
                        <li>Data Center Management and Automation</li>
                        <li>Data Center Security</li>
                        <li>Data Center Switches</li>
                        <li>Hyperconverged Infrastructure</li>
                        <li>Storage Networking</li>
                        <li>Virtual Networking</li>
                    </ul>
                </div>
                <div class="products-div">
                    <img src="../../assets/images/analytics-img.jpg" >
                    <h2>Analytics</h2>
                    <ul>
                        <li>Data Center Analytics and Assurance</li>
                        <li>Network Analytics (Cisco DNA Analytics and Assurance)</li>
                        <li>Network Security Analytics</li>
                    </ul>
                </div>
            </div>
            <div class="row three-products">
                <div class="products-div">
                    <img src="../../assets/images/video.jpg" >
                    <h2>Video</h2>
                    <ul>
                        <li>Video Endpoints</li>
                        <li>Video Intelligence</li>
                        <li>Cisco Vision</li>
                    </ul>
                </div>
                <div class="products-div">
                    <img src="../../assets/images/internet-of-things.jpg" >
                    <h2>Internet of Things</h2>
                    <ul>
                        <li>IoT Networking</li>
                        <li>Extended Enterprise</li>
                        <li>IoT Management</li>
                        <li>Cisco Kinetic</li>
                        <li>IoT Security</li>
                    </ul>
                </div>
                <div class="products-div">
                    <img src="../../assets/images/software.jpg" >
                    <h2>Software</h2>
                    <ul>
                        <li>IOS & NX-OS</li>
                        <li>Cisco ONE for Access</li>
                        <li>Cisco ONE for WAN</li>
                        <li>Cisco ONE for Data Center Networking</li>
                        <li>Cisco ONE for Data Center Compute and Cloud</li>
                        <li>Cisco ONE for Advanced Security</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>